@media (width > 700px) {
  .logo-query-none {
    display: none;
  }
  .query-us-img {
    width: 700px;
  }
  .query-text-us {
    width: 700px;
  }
}
@media (width <= 700px) {
  /* ------------- Navbar --------------- */
  .menu {
    display: block !important;
  }
  .logo-none {
    display: none;
  }

  .nav-query {
    flex-direction: column-reverse !important;
  }
  .nav-query-items {
    display: none !important;
    flex-direction: column !important;
    text-align: center;
    gap: 20px;
    margin: 20px 0;
  }

  .nav-query-contact {
    display: none !important;
  }

  /* -------------- Home ------------- */
  .home-query {
    align-items: center;
  }
  .query-text {
    text-align: center;
  }
  /*-------------- Us -----------------*/
  .query-us-img {
    width: 400px;
  }
  .query-text-us {
    width: 400px;
  }
}
