@import "./media-queries/media-queries.css";

#root {
  width: 100%;
  height: 100vh;
  box-sizing: 0;
  margin: 0;
  padding: 0;
  justify-content: center;
}
@font-face {
  font-family: plus;
  src: url(../public/static/PlusJakartaSans-ExtraLight.ttf);
}
@font-face {
  font-family: cinzel;
  src: url(../public/static/Cinzel-Medium.ttf);
}
@font-face {
  font-family: nanum;
  src: url(../public/static/NanumGothic-Regular.ttf);
}
@font-face {
  font-family: cardo;
  src: url(../public/static/Cardo-Regular.ttf);
}
@font-face {
  font-family: bad;
  src: url(../public/static/BadScript-Regular.ttf);
}
@font-face {
  font-family: quick;
  src: url(../public/static/Quicksand-Light.ttf);
}
@font-face {
  font-family: zen;
  src: url(../public/static/ZenMaruGothic-Medium.ttf);
}

.zen {
  font-family: zen;
}
.cinzel {
  font-family: cinzel;
}
.nanum {
  font-family: nanum;
}
.cardo {
  font-family: cardo;
}
.bad {
  font-family: bad;
}
.quick {
  font-family: quick;
}
.plus {
  font-family: plus;
}
